.container>main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    margin-top: 70px;
}

.container>main>aside {
    margin-top: 53px;
    box-shadow: 0 0 10px #D5D4D4;
    border-radius: 5px;
    padding: 20px;
    height: 580px;
}

.container>main>aside>div {
    margin-bottom: 20px;
}

.container>main>aside>div>a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 0 20px;
    padding: 2px;
}

.container>main>aside>div>a:hover {
    color: #e95221;
    text-decoration: underline;
}

.container>main>article>h5 {
    color: #e95221;
    margin: 10px;
}

.box-sp {
    height: 350px;
}

.box-sp>a p {
    transition: 0.3s;
    font-size: 1em;
    font-weight: 500;
    z-index: 2;
}

.box-sp:hover>a p {
    color: red;
    transform: translateY(15px);
}

.box-sp .gia {
    font-size: 1.1em;
}

.container>.next-page>a {
    background-color: #ededed;
    padding: 7px 13px;
    margin: 5px;
    border-radius: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.container>.next-page>a:hover {
    background-color: #d1d1d1;
}