

*{
    font-family: Arial, Helvetica, sans-serif;
}

.container>header>.logo>a>img {
    width: 125px;
}

.container>header .fa-solid {
    color: #e95221;
}

.container>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.container .search,
.container>header>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container>header>:is(.hotline, .address)>span {
    font-size: 0.9em;
    font-weight: bold;
}

.container>header>.hotline>span>span {
    color: #e95221;
}

.container .search>input {
    width: 350px;
}

.container .search>:is(input, button) {
    background-color: #f1f1f1;
    border: none;
    padding: 5px 5px 5px 10px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.container .search>button {
    border-radius: 0 5px 5px 0;
    width: 40px;
    padding: 5px 10px;
}

.container>header>.information_cart>a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    gap: 10px;
    padding: 0 10px;
    height: 40px;
    border-radius: 30px;
    text-decoration: none;
    color: #e95221;
    margin: 0 10px;
    border: 1px solid #e95221;
    background-color: white;
    transition: 0.3s;
}

.container>header>.information_cart>a:nth-child(2) {
    position: relative;
}

.container>header>.information_cart>a:nth-child(2)>div {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: #e95221;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65em;
    padding-left: 0.5px;
    padding-bottom: 0.6px;
}

.container>header>.information_cart>a>i {
    font-size: 1.1em;
    transition: 0.3s;
}

.container>header>.information_cart>a:hover {
    background-color: #e95221;
    color: white;
}

.container>header>.information_cart>a:hover>i {
    color: white;
}



.container>nav {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #e95221;
    height: 40px;
    overflow: hidden;
    z-index: 12;
}

.container>nav>div {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    padding: auto 20px;
}

.container>nav>.navhide {
    display: none;
}

.container>nav>.navhide>div:nth-child(1) {
    position: relative;
    width: 30px;
    height: 30px;
}

.container>nav>.navhide>div:nth-child(1)>i {
    position: absolute;
    font-size: 1.95em;
    color: white;
}

.container>nav>.navhide>div:nth-child(1)>i:nth-child(2) {
    display: none;
}

.container>.menu-navhide {
    position: absolute;
    top: 98px;
    left: 0;
    width: 300px;
    height: auto;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 0 0 10px 0;
    z-index: 10;
    transform: translateX(-105%);
    transition: 0.5s;
}

.container>.menu-navhide>a {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #e95221;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;

}

.container>.menu-navhide>a:hover {
    color: white;
}

.container>.menu-navhide>a:hover::after {
    transform: translateX(0);
    border-radius: 0 0 0 0;

}

.container>.menu-navhide>a>:is(i, span) {
    z-index: 15;
}

.container>.menu-navhide>a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-105%);
    background-color: #e95221;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 0 50% 50% 0;
}

.container>.menu-navhide .menusanpham-hide {
    display: none;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
}

.container>.menu-navhide .menusanpham-hide>div {
    margin-bottom: 25px;
}

.container>.menu-navhide .menusanpham-hide>div>div>a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 5px 20px;
}

.container>.menu-navhide .menusanpham-hide>div>div>a:hover {
    color: #e95221;
    transition: 0.3s;
    text-decoration: underline;
}


.container>.menu-navhide>a:nth-child(2)>i:nth-child(2) {
    display: none;
}

.container>nav>div>a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 150px;
    font-weight: bold;
    user-select: none;
    background-color: transparent;
    transition: 0.3s;
}


.container>nav>div>a:hover::after {
    transform: translateY(0);
}

.container>nav>div>a:hover {
    color: #e95221;
}

.container>nav>div>a::after {
    content: '';
    position: absolute;
    transform: translateY(40px);
    background-color: WHITE;
    height: 40px;
    width: 150px;
    transition: 0.3s;
}

.container>nav>div>a>span {
    font-size: 0.9em;
    font-weight: 500;
    z-index: 3;
}

.container>nav>div>a>i {
    width: 25px;
    z-index: 3;
}

.container>nav>div>a>.fa-xmark {
    display: none;
}

.container .menusanpham {
    position: absolute;
    top: 107.5px;
    left: 0;
    width: 100%;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 200px;
    gap: 50px;
    z-index: 10;
    background-color: white;
}

.container .menusanpham>div>h6 {
    color: #e95221;
    margin: 0 20px;
}

.container .menusanpham>div>a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px 20px;
}

.container .menusanpham>div>a:hover {
    color: #e95221;
    text-decoration: underline;
}

.container>main>.banner {
    position: absolute;
    left: 0;
    top: 112px;
    width: 100%;
}

.container>main>.banner>img {
    width: 100%;
    height: 500px;
}

.container>main>.quangcao1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 600px;
}

.container>main>.sp-moiramat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container>main>.sp-saleoff {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container>main>:is(.sp-moiramat, .sp-saleoff)>img {
    width: 100%;
}

.container>main>.quangcao1>div {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px 20px;
    padding: 5px;
}

.container>main>.quangcao1>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    color: #e95221;
}

.container>main>.sp-title {
    color: #e95221;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container>main>.sp-title>.line {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 165, 165);
    width: 240px;
    height: 5px;
    border-radius: 5px;
}

.container>main>.sp-title>.line>div {
    background-color: #e95221;
    width: 80px;
    height: 5px;
    border-radius: 5px;
}


.container>main>.sp-danhmuc-noibat {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.container>main>.sp-danhmuc-noibat>a {
    text-decoration: none;
    color: #e95221;
    background-color: white;
    border: 2px solid #e95221;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    transition: 0.3s;
}

.container>main>.sp-danhmuc-noibat>a:hover {
    color: white;
    background-color: #e95221;
}




.container>main>.sanpham-noibat {
    position: relative;
    background-color: #D5D4D4;
    height: 365px;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 10px;
    overflow: hidden;
}

.container>main>.sanpham-noibat>.sp-noibat {
    position: relative;
    display: block;
    width: 100%;
    height: 345px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.box-sp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #D5D4D4;
    overflow: hidden;
}


.container>main>.sanpham-noibat>.sp-noibat>#slidesp>a p {
    font-size: 1em;
}


.box-sp:hover>.chucnang-sp {
    transform: translateY(-35px);
    opacity: 1;
}

.box-sp:hover>.img-sp>img {
    transform: translateY(-15px);
}

.box-sp>a {
    color: black;
    text-decoration: none;
}

.box-sp>a p {
    transition: 0.3s;
    font-size: 1.1em;
    font-weight: 500;
    z-index: 2;
}

.box-sp:hover>a p {
    color: red;
    transform: translateY(5px);
}

.box-sp .chucnang-sp {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.box-sp .chucnang-sp>a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    background-color: #D5D4D4;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.box-sp .chucnang-sp>a:hover {
    background-color: #ff9775;
}

.box-sp .img-sp {
    width: 100%;
}

.box-sp .gia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}

.box-sp .gia del {
    font-size: 0.9em;
    color: gray;
    font-weight: normal;
}

.box-sp .img-sp>img {
    width: 100%;
    transition: 0.3s;
}


.container>main>.sanpham-noibat>.next-sp>i {
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    color: gray;
    box-shadow: 0 0 5px gray;
    transition: 0.3s;
}

.container>main>.sanpham-noibat>.next-sp>:is(i:nth-child(1), i:nth-child(2)):hover {
    color: #e95221;
    box-shadow: 0 0 5px #e95221;
    transform: translateX(0px);
    font-size: 1.85em;
}

.container>main>.sanpham-noibat>.next-sp>i:nth-child(1) {
    border-radius: 0 30px 30px 0;
    left: 0;
    transform: translateX(-10px);
    font-size: 1.4em;
}

.container>main>.sanpham-noibat>.next-sp>i:nth-child(2) {
    border-radius: 30px 0 0 30px;
    right: 0;
    transform: translateX(10px);
    font-size: 1.4em;
}



.container>main>.sanpham-noibat>.sp-noibat>#slidesp {
    position: absolute;
    transition: 0.3s ease-in-out;
    padding: 10px;
    width: 232.5px;
    height: auto;
    margin: 0;
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(1) {
    transform: translate(-220%);
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(2) {
    transform: translate(-110%);
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(3) {
    transform: translate(0%);
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(4) {
    transform: translate(110%);
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(5) {
    transform: translate(220%);
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(6) {
    transform: translate(330%);
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(7) {
    transform: translate(440%);
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(8) {
    transform: translate(550%);
}

.container>main>.sanpham-noibat>.sp-noibat>.box-sp:nth-child(9) {
    transform: translate(660%);
}


.container>main>.sp-yeuthich,
.container>main>.sp-giamngay,
.container>main>.sp-yeuthich>.sanpham2,
.container>main>.sp-giamngay>.sanpham3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.container>main>.sp-yeuthich>img {
    width: calc(100% - 20px);
    margin: 10px;
    height: 400px;
}

.container>main>.sp-giamngay>img {
    width: calc(100% - 20px);
    height: 820px;
    margin: 10px;
}

.container>main .sanpham0 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px
}


footer {
    position: relative;
    background-color: black;
    margin-top: 150px;
}

footer>.footer-child>.email-thongbao {
    position: absolute;
    left: 50%;
    top: -75px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 100px 0 100px 0;
    height: 150px;
    width: 800px;
    background-color: white;
}

footer>.footer-child>.email-thongbao>img {
    width: 150px;
    margin-top: -15px;
}

footer>.footer-child>.email-thongbao>form {
    position: relative;
}

footer>.footer-child>.email-thongbao>form>input:nth-child(1) {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #ECE9E9;
    box-shadow: 0 0 10px #ECE9E9;
    width: 500px;
    height: 60px;
}

footer>.footer-child>.email-thongbao>form>input:nth-child(2) {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    border: none;
    border-radius: 50px;
    background-color: #e95221;
    box-shadow: 0 0 5px #e95221;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

footer>.footer-child>.thongtin-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;
}

footer>.footer-child>.thongtin-footer>div:nth-child(1)>p>i {
    font-size: 1.1em;
    width: 25px;
}

footer>.footer-child>.thongtin-footer>div:nth-child(1)>div>img {
    width: 150px;
}

footer>.footer-child>.thongtin-footer>div:nth-child(2)>div>img {
    width: 30px;
    margin-right: 10px;
}

footer>.footer-child>:is(div:nth-child(2), div:nth-child(3)) {
    color: white;
}



@media only screen and (min-width: 576px) {
    .container>.menu-navhide {
        transform: translateX(-105%) !important;
    }
}

@media only screen and (max-width: 1400px) {
    .container .search>input {
        width: 250px;
    }

    .container .menusanpham {
        padding: 20px 100px;
    }

    .container>main>.quangcao1>div>div {
        font-size: 0.8em;
    }

    .box-sp:hover>.chucnang-sp {
        transform: translateY(-55px);
    }

    .container>main>.sanpham-noibat {
        height: 325px;
    }

    .container>main>.sanpham-noibat>.sp-noibat {
        height: 305px;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp {
        width: 199px;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp:hover>.chucnang-sp {
        transform: translateY(-20px);
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp>a p {
        font-size: 0.9em;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp .gia {
        font-size: 1em;
    }

}

@media only screen and (max-width: 1200px) {
    .container>header>:is(.hotline, .address)>span {
        font-size: 0.7em;
        font-weight: bold;
    }

    .container .search>input {
        width: 200px;
    }

    .container .menusanpham {
        padding: 20px 50px;
        gap: 20px;
    }

    .container>header>.information_cart>a {
        margin: 0 5px;
    }

    .container>main>.banner>img {
        height: 400px;
    }

    .container>main>.quangcao1 {
        margin-top: 470px;
    }

    .container>main>.quangcao1>div {
        flex-direction: column;
    }

    .container>main>.sp-danhmuc-noibat>a {
        font-size: 1em;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp {
        width: 208.5px;
    }

    .container>main>.sanpham-noibat {
        height: 335px;
    }

    .container>main>.sanpham-noibat>.sp-noibat {
        height: 315px;
    }

    .container>main>.sp-yeuthich>img,
    .box-sp {
        height: 320px;
    }

    .box-sp>a p {
        font-size: 0.9em;
    }

    .box-sp .gia {
        font-size: 1em;
    }

    .box-sp:hover>.chucnang-sp {
        transform: translateY(-25px);
    }

    .container>main>.sp-giamngay>img {
        height: calc(100% - 30px);
    }

}

@media only screen and (max-width: 992px) {
    .container>header>:is(.hotline, .address)>span {
        display: none;
    }

    .container>header>:is(.hotline, .address)>i {
        font-size: 1.2em;
    }

    .container>header>.hotline>i {
        margin-right: -15px;
    }

    .container>header>.address>i {
        margin-left: -15px;
    }

    .container .search>input {
        width: 250px;
    }

    .container .menusanpham {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 150px;
        gap: 50px;
    }

    .container>main>.banner>img {
        height: 350px;
    }

    .container>nav>div>a {
        width: 120px;
        font-size: 0.9em;
    }


    .container>main>.quangcao1 {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 420px;
    }

    .container>main>.quangcao1>div {
        flex-direction: row;
        height: 50px;
    }


    .container>main>.sanpham-noibat>.sp-noibat>#slidesp {
        width: 204.5px;
    }

    .container>main>.sanpham-noibat {
        height: 330px;
    }

    .container>main>.sanpham-noibat>.sp-noibat {
        height: 310px;
    }

    .container>main>.sp-danhmuc-noibat {
        grid-template-columns: repeat(4, 1fr);
    }

    .container>main>.sp-danhmuc-noibat>:is(a:nth-child(5), a:nth-child(6)) {
        display: none;
    }


    .container>main>.sp-yeuthich {
        grid-template-columns: 2fr 1fr;
    }

    .container>main>.sp-yeuthich>.sanpham2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .container>main .sanpham0>div:nth-child(4),
    .container>main>.sp-yeuthich>.sanpham2>div:nth-child(2),
    .container>main>.sp-giamngay>.sanpham3>div:nth-child(4) {
        display: none;
    }

    .container>main>.sp-giamngay>.sanpham3,
    .container>main .sanpham0 {
        grid-template-columns: repeat(3, 1fr);
    }

    .container>main>.sp-giamngay {
        grid-template-columns: repeat(1, 1fr);
    }

    .container>main>.sp-giamngay>img {
        display: none;
    }

    footer>.footer-child>.email-thongbao {
        flex-direction: column;
        width: 650px;
    }

    footer>.footer-child>.email-thongbao>img {
        width: 100px;
    }

    footer>.footer-child>.email-thongbao>form>input:nth-child(1) {
        height: 50px;
    }

    footer>.footer-child>.email-thongbao>form>input:nth-child(2) {
        height: 40px;
    }

    footer>.footer-child>div:nth-child(2)>div {
        font-size: 0.8em;
    }

    footer>.footer-child>div:nth-child(2)>div:nth-child(1)>div>img {
        width: 100px;
    }

    footer>.footer-child>div:nth-child(2)>div:nth-child(2)>div>img {
        width: 25px;
        margin-right: 10px;
    }

}

@media only screen and (max-width: 768px) {

    .container>header>.information_cart>a:nth-child(1)>span {
        display: none;
    }

    .container>header>.logo>a>img {
        width: 100px;
    }

    .container>header>.hotline>i {
        width: 50px;
        display: flex;
        justify-content: flex-end;
        font-size: 1em;
    }

    .container>header>.address>i {
        display: flex;
        justify-content: flex-end;
        width: 50px;
        font-size: 1em;
    }

    .container .search>input {
        width: 200px;
    }

    .container>header>.information_cart>a {
        font-size: 0.8em;
        width: 30px;
        height: 30px;
    }

    .container .menusanpham {
        top: 97.5px;
        padding: 20px 50px;
        gap: 20px;
    }

    .container>main>.banner {
        top: 98px;
    }

    .container>main>.banner>img {
        height: 300px;
    }

    .container>nav>div {
        justify-content: space-between;
    }

    .container>nav>div>a {
        font-size: 0.8em;
    }

    .container>main>.quangcao1 {
        margin-top: 370px;
    }

    .container>main>.quangcao1>div {
        flex-direction: column;
        height: 100px;
    }

    .container>main>.quangcao1>div>img {
        margin-bottom: -15px;
    }

    .container>main>.sp-saleoff {
        grid-template-columns: repeat(1, 1fr);
    }

    .container>main>.sp-yeuthich {
        grid-template-columns: repeat(1, 1fr);
    }

    .container>main>.sp-yeuthich>.sanpham2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .container>main .sanpham>div:nth-child(4) {
        display: flex;
    }

    .container>main>.sp-yeuthich>.sanpham2>div:nth-child(2) {
        display: flex;
    }

    .container>main>.sp-giamngay>.sanpham3>div:nth-child(4) {
        display: flex;
    }

    .container>main>.sp-giamngay>.sanpham3,
    .container>main .sanpham0 {
        grid-template-columns: repeat(2, 1fr);
    }

    .container>main .sanpham0>div:nth-child(4) {
        display: flex;
    }

    .container>main>.sp-giamngay {
        grid-template-columns: repeat(1, 1fr);
    }

    .container>main>.sp-giamngay>img {
        display: block;
    }

    .container>main>.sp-danhmuc-noibat {
        grid-template-columns: repeat(3, 1fr);
    }

    .container>main>.sp-danhmuc-noibat>:is(a:nth-child(5), a:nth-child(6)) {
        display: block;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp {
        width: 226px;
    }


    .container>main>.sanpham-noibat {
        height: 350px;
    }

    .container>main>.sanpham-noibat>.sp-noibat {
        height: 330px;
    }


    footer>.footer-child>.email-thongbao {
        flex-direction: column;
        width: 500px;
        border-radius: 75px 0 75px 0;
    }

    footer>.footer-child>.email-thongbao>form>input:nth-child(1) {
        width: 400px;
    }

    footer>.footer-child>.thongtin-footer {
        grid-template-columns: repeat(1, 1fr);
        margin: 70px 20px;
        gap: 100px;
    }

    footer>.footer-child>.thongtin-footer>div {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .container>header>.information_cart {
        display: flex;
        justify-content: end;
    }

    .container .menusanpham {
        display: none !important;
    }

    .container>nav>.navchild {
        display: none;
    }

    .container>nav>.navhide {
        display: flex;
    }

    .container>nav>.navhide>.search {
        display: flex;
    }

    .container .search>:is(input, button) {
        height: 30px;
        font-size: 0.8em;
    }

    .container .search>input {
        width: 250px;
    }

    .container>main>.banner>img {
        height: 200px;
    }




    .container>header>.search {
        display: none;
    }

    .container>header>div {
        display: grid;
        grid-template-columns: 1fr 10fr;

    }

    .container>header>:is(.hotline, .address) {
        display: flex;
    }

    .container>main>.sp-danhmuc-noibat {
        grid-template-columns: repeat(2, 1fr);
    }


    .container>main>.sanpham-noibat {
        width: 400px;
        height: 330px;
        margin: 20px auto;
    }


    .container>main>.sanpham-noibat>.sp-noibat {
        height: 310px;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp {
        height: 290px;
        width: 171px;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp>a p {
        font-size: 0.8em;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp .gia {
        font-size: 0.9em;
    }



    footer>.footer-child>.email-thongbao {
        width: 350px;
        border-radius: 50px 0 50px 0;
    }

    footer>.footer-child>.email-thongbao>form>input:nth-child(1) {
        height: 45px;
        width: 300px;
        font-size: 0.85em;
    }

    footer>.footer-child>.email-thongbao>form>input:nth-child(2) {
        height: 35px;
        width: 70px;
        font-size: 0.9em;
    }




    @media only screen and (min-width: 0px) {
        .container .search>input {
            width: 200px;
        }

        .container>main>.quangcao1 {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 250px;
        }

        .container>main>.quangcao1>div {
            flex-direction: row;
            height: 50px;
        }

        .container>main>.quangcao1>div>img {
            margin-bottom: 0px;
        }

    }
}

@media only screen and (max-width: 470px) {

    .container>main>.banner>img {
        height: 150px;
    }

    .container>main>.quangcao1 {
        margin-top: 200px;
    }


    .box-sp {
        height: 310px;
    }

    .box-sp>a p {
        font-size: 0.8em;
    }

    .box-sp .gia {
        font-size: 0.9em;
    }

}

@media only screen and (max-width: 420px) {
    .container>main>.sanpham-noibat>.next-sp>i {
        width: 45px;
        height: 45px;
    }

    .container>main>.sanpham-noibat>.next-sp>:is(i:nth-child(1), i:nth-child(2)) {
        font-size: 1.2em;
    }

    .container>main>.sanpham-noibat>.next-sp>:is(i:nth-child(1), i:nth-child(2)):hover {
        font-size: 1.6em;
    }

    .container>main>.sanpham-noibat {
        width: 370px;
        height: 320px;
    }


    .container>main>.sanpham-noibat>.sp-noibat {
        height: 300px;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp {
        height: 280px;
        width: 157px;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp>a p {
        font-size: 0.8em;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp .gia {
        font-size: 0.9em;
    }

    .box-sp {
        height: 290px;
    }

    .container>main>.sp-title>h4 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 390px) {

    .container>main>.sanpham-noibat>.next-sp>i {
        width: 35px;
        height: 35px;
    }

    .container>main>.sanpham-noibat>.next-sp>:is(i:nth-child(1), i:nth-child(2)) {
        font-size: 1em;
    }

    .container>main>.sanpham-noibat>.next-sp>:is(i:nth-child(1), i:nth-child(2)):hover {
        font-size: 1.4em;
    }

    .box-sp .chucnang-sp>a {
        font-size: 0.8em;
        width: 30px;
        height: 30px;
    }

    .container>main>.sanpham-noibat {
        width: 300px;
        height: 260px;
        margin: 20px auto;
    }

    .container>main>.sanpham-noibat>.sp-noibat {
        height: 240px;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp:hover>.chucnang-sp {
        transform: translateY(0px);
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp {
        height: 220px;
        width: 124px;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp>a p {
        font-size: 0.6em;
    }

    .container>main>.sanpham-noibat>.sp-noibat>#slidesp .gia {
        font-size: 0.7em;
    }

    .box-sp {
        height: 240px;
    }

    .box-sp>a p {
        font-size: 0.6em;
    }

    .box-sp .gia {
        font-size: 0.7em;
    }

    .box-sp:hover>.chucnang-sp {
        transform: translateY(-5px);
    }

    footer>.footer-child>.email-thongbao {
        width: 300px;
        height: 130px;
        border-radius: 50px 0 50px 0;
    }

    footer>.footer-child>.email-thongbao>form>input:nth-child(1) {
        height: 40px;
        width: 250px;
        font-size: 0.7em;
    }

    footer>.footer-child>.email-thongbao>form>input:nth-child(2) {
        height: 30px;
        width: 60px;
        font-size: 0.8em;
    }
}